{% extends 'home_base.html' %}

{% block body %}
<body class="absolute top-0 left-0 bottom-0 w-full" style="font-family: 'Rubik', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
	<main class="flex flex-col items-center justify-center h-full">
		<div class="w-full bg-slate-50 p-3 flex flex-row items-center">
			<div class="px-5 border-r-4 border-[#3fc2ed]">
				{% load static %}
				<a href="/">
					<img src="{% static '/logo-certipy-hor.png' %}" alt="Certi-Py" style="height: 50px;"/>
				</a>
			</div>
			<div class="px-5 grow">
				<h1 class="text-xl font-thin">{% block title %}{% endblock %}</h1>
			</div>
			<div class="px-5">
				<h1 class="text-xl font-thin">{% block actions %}{% endblock %}</h1>
			</div>
		</div>
		<div class="flex grow h-full w-full">
		{% block app_slot %}
		{% endblock %}
		</div>
	</main>
</body>
{% endblock %}
