{% extends 'app_base.html' %}
{% block title %} 
	Cursos
{% endblock %}

{% block actions %}

{% endblock %}

{% block app_slot %}
<div class="grow flex flex-col">
	<div class="mx-2 mt-2 bg-blue-100 rounded-lg">
		<form novalidate="" action="{% url 'Cursos' %}" method="post" class="container flex flex-col mx-auto space-y-12">
			<fieldset class="grid grid-cols-4 gap-6 p-4">
				<div class="space-y-2 col-span-full lg:col-span-1">
					<p class="font-bold text-lg">Novo Curso</p>
					<p class="text-sm">Crie um novo curso para adicionar alunos</p>
				</div>
				<div class="grid grid-cols-6 gap-4 col-span-full lg:col-span-3">
					<div class="col-span-full">
						<label for="title" class="text-sm">Título do Curso</label>
						<input id="title" name="title" type="text" placeholder="Título do Curso" class="w-full p-2 rounded-md focus:ring focus:ri text-gray-900 border-gray-300 focus:ri" required>
					</div>
					<div class="col-span-full sm:col-span-2">
						<label for="teacher" class="text-sm">Ministrado por</label>
						<input id="teacher" name="teacher" type="text" placeholder="Professor(a)" class="w-full p-2 rounded-md focus:ring focus:ri text-gray-900 border-gray-300 focus:ri" required>
					</div>
					<div class="col-span-full sm:col-span-2">
						<label for="workload" class="text-sm">Carga Horária (h)</label>
						<input id="workload" name="workload" type="number" class="w-full p-2 rounded-md focus:ring focus:ri text-gray-900 border-gray-300 focus:ri" required>
					</div>
					<div class="col-span-full sm:col-span-2">
						<label for="date" class="text-sm">Data de Conclusão</label>
						<input id="date" name="date" type="date" class="w-full p-2 rounded-md focus:ring focus:ri text-gray-900 border-gray-300 focus:ri" required>
					</div>
					{% csrf_token %}
					<div class="col-span-full">
						<button type="submit" class="px-8 py-3 font-semibold rounded bg-gray-800 text-gray-100">Salvar</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="mx-2 mt-2">
		<h1 class="font-bold text-xl">Cursos Cadastrados</h1>
	</div>
	<div class="relative grow mt-1 mb-1 mx-2">
		<div class="absolute top-0 left-0 bottom-0 w-full overflow-auto flex flex-row gap-2 py-2 flex-wrap space-between">
			{% for course in courses %}
				<div class="bg-blue-200 rounded-lg p-4 h-min grow">
					<a href="/courses/{{course.id}}">
						<h1 class="font-bold text-lg truncate">#{{course.id}} - {{course.title}}</h1>
						<p class="truncate">{{course.workload}} h</p>
						<p class="truncate">{{course.date}}</p>
						<p class="truncate">{{course.teacher}}</p>
					</a>
				</div>
			{% endfor %}
		</div> 
	</div>
</div>
{% endblock %}
