{% extends 'home_base.html' %}
{% block body %}
<body class="w-full h-full flex flex-col items-center justify-center" style="font-family: 'Rubik', 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;">
	<div class="m-5">
		{% load static %}
		<img src="{% static '/logo-certipy.png' %}" alt="Certi-Py" style="height: 250px;"/>
	</div>
	<div class="m-5 text-[#3fc2ed] text-xl">
		<ul class="flex flex-row gap-10">
			<li>
				<a href="students/">
					Alunos
				</a>
			</li>
			<li>
				<a href="courses/">
					Cursos
				</a>
			</li>
			<li>
				<a href="certificates/">
					Certificados
				</a>
			</li>
			<li>
				<a href="templates/">
					Templates
				</a>
			</li>
		</ul>
	</div>
</body>
{% endblock %}
