{% extends 'app_base.html' %}
{% block title %} 
	Alunos
{% endblock %}

{% block actions %}

{% endblock %}

{% block app_slot %}
<div class="grow flex flex-col">
	<div class="mx-2 mt-2  bg-blue-100 rounded-lg">
		<form novalidate="" action="{% url 'Alunos' %}" method="post" class="container flex flex-col mx-auto space-y-12">
			<fieldset class="grid grid-cols-4 gap-6 p-4">
				<div class="space-y-2 col-span-full lg:col-span-1">
					<p class="font-bold text-lg">Novo Aluno</p>
					<p class="text-sm">Crie um novo aluno.</p>
				</div>
				<div class="grid grid-cols-6 gap-4 col-span-full lg:col-span-3">
					<div class="col-span-full">
						<label for="name" class="text-sm">Nome</label>
						<input id="name" name="name" type="text" placeholder="Título do Curso" class="w-full p-2 rounded-md focus:ring focus:ri text-gray-900 border-gray-300 focus:ri" required>
					</div>
					<div class="col-span-full sm:col-span-3">
						<label for="email" class="text-sm">E-mail</label>
						<input id="email" name="email" type="text" placeholder="Professor(a)" class="w-full p-2 rounded-md focus:ring focus:ri text-gray-900 border-gray-300 focus:ri" required>
					</div>
					<div class="col-span-full sm:col-span-3">
						<label for="cpf" class="text-sm">CPF</label>
						<input id="cpf" name="cpf" type="number" class="w-full p-2 rounded-md focus:ring focus:ri text-gray-900 border-gray-300 focus:ri" required>
					</div>
					{% csrf_token %}
					<div class="col-span-full">
						<button type="submit" class="px-8 py-3 font-semibold rounded bg-gray-800 text-gray-100">Salvar</button>
					</div>
				</div>
			</fieldset>
		</form>
	</div>
	<div class="mx-2 mt-2">
		<h1 class="font-bold text-xl">Alunos Cadastrados</h1>
	</div>
	<div class="relative grow mt-1 mb-1 mx-2">
		<div class="absolute top-0 left-0 bottom-0 w-full overflow-auto space-between">
			{% for student in students %}
				<div class="bg-blue-200 rounded-lg px-4 py-2 mb-2 grow flex flex-row">
					<div class="grow">
						<h1 class="font-bold text-lg truncate">#{{student.id}} - {{student.name}}</h1>
						<p class="truncate">{{student.cpf}}</p>
						<p class="truncate">{{student.email}}</p>
					</div>
					<div class="bg-blue-100">
						<button>Apagar</button>
					</div>
				</div>
			{% endfor %}
		</div> 
	</div>
</div>
{% endblock %}
